.about__text {
  width: 100%;
  h1 {
    font-size: $large-heading;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    &::after {
      content: "";
      display: block;
      border: 1px solid;
      border-color: $background-clr;
      margin-top: 0.5em;
      width: 50%;
    }
  }
  p {
    line-height: 1.3;
  }
}

// Media

@media (max-width: $small-mobile) {
  .about__text {
    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
@media (min-width: $tablet) {
  .about__text {
    width: 32%;
    h1 {
      margin-top: 0;

      font-size: $xlarge-heading;
    }
    p {
      line-height: 1.7;
    }
  }
  .about__img {
    width: 62%;
    align-self: flex-start;
    // margin: 0;
  }
}
