.service {
  h1 {
    color: $primary-clr;
  }
}
.service-row {
  width: 100%;
}

// Media
@media (min-width: $tablet) {
  .service-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
