footer {
  background-color: $primary-clr;
  color: $background-clr;
  text-align: center;
  p {
    font-size: $xsmall !important;
  }
  a {
    text-decoration: none;
    color: $background-clr;
  }
}
