.modal {
  background-color: $background-clr;
  h1 {
    font-size: $xlarge-heading;
  }
}

.close-modal {
  font-size: 50px;
  color: $primary-clr;
}
.contact-form-container {
  width: 50%;
  max-width: 800px;
}

.contact-form input {
  width: 100%;
  height: 100%;
  //   font-size: 20px;
  padding: 0.625em;
  margin-bottom: 1.875em;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
  color: $primary-clr;
}

.contact-form textarea {
  resize: none;
  height: 100%;
  padding: 0.625em 0;
  margin-bottom: 2.5em;
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: $primary-clr;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 0.0625em solid #000;
}

#submit {
  border-bottom: none;
  cursor: pointer;
  background-color: $primary-clr;
  color: #e9f1f7;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.9375em 0;
  width: 100%;
  outline: none;
  border: 0;
}

button:hover {
  cursor: pointer;
  pointer-events: auto;
}

.name,
.email,
.subject,
.message {
  position: relative;
}

.form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0.625em;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: $primary-clr;
  transition: 0.5s;
  pointer-events: none;
  font-size: $medium-heading;
}

.contact-form input:focus ~ label,
.contact-form textarea:focus ~ label,
.contact-form input:valid ~ label,
.contact-form textarea:valid ~ label {
  top: -0.75em;
  left: 0;
  font-size: $small-heading;
  font-weight: 500;
  font-style: italic;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:valid,
.contact-form textarea:valid {
  border-bottom: 0.0625em solid;
  border-color: $primary-clr;
}
