.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  .card__container {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p:nth-last-child(1) {
      padding-bottom: 1em;
    }
  }
}
.card + .card {
  margin-top: 1.5rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: $tablet) {
  .card {
    width: 30%;
    margin-bottom: 2rem;
    position: relative;
  }
  .card + .card {
    margin-top: 0;
    // margin-left: 1rem;
  }
}
