.social {
  position: fixed;
  top: 70%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #eb5e50;
  padding: 10px 0;
  border-radius: 15px 0 0 15px;
  z-index: 2000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .social__logo {
    padding: 10px;
    font-size: $medium-heading;
  }
}
.fa {
  color: $primary-clr;
}
.fa:hover {
  color: $background-clr;
}

@media (min-width: $tablet) {
  .social__logo {
    padding: 10px;
    font-size: $large-heading;
  }
}
