// Background Colour
$background-clr: #f8dbc9;
$background-dark1: #eccbb0;

$primary-clr: #033d68;
$primary-clr-light1: #225175;
$primary-clr-light2: #416581;

$secondary-clr: #ccd5ae;
$secondary-clr-light1: #e9edc9;
$secondary-clr-light2: #fefae0;

// Accent
.accent {
  background-color: $primary-clr;
  color: $background-clr;
}
