$xlarge-heading: 2.875rem;
$large-heading: 2rem;
$medium-heading: 1.5rem;
$small-heading: 1.125rem;

// Padding
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1rem;
}

// Heading Size
h1 {
  font-size: $xlarge-heading;
}

h2 {
  font-size: $large-heading;
}

p {
  font-size: $medium-heading;
  line-height: 1.5em;
}
